{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}    
<div class="container-fluid">
    <div class="row">

        <div id="heading">
            <h1>Welcome to Wanderlust!</h1>
            <h3>To see where Wanderlust can take you<br>fill out the details below for you and your travel partner.</h3>
        </div>

        <div class="col-md-4 col-md-offset-2"> 

                <form action = "/search_results" method="POST">      
                    <div>
                        <label>Traveler #1 Name Origin City and Max Budget</label>
                        <input value="Antonia Wang" type="text" name="traveler1_name" id="traveler1_name" class="form-control" placeholder="Traveler #1">
                        <select class="form-control" name="traveler1_origin" id="traveler1_origin" required> 
                            <ul class="dropdown-menu">   
                                <li><option value="">Traveler #1's Departure City:</option></li>    
                                <li><option value="BOS">Boston, Massachusetts</option></li>  
                                <li><option value="ORD">Chicago, Illinois</option></li> 
                                <li><option value="DFW">Dallas, Texas</option></li>  
                                <li><option value="MCO">Orlando, Florida</option></li>  
                                <li><option value="LAX">Los Angeles, California</option></li>     
                                <li><option value="JFK">New York, New York</option></li>   
                                <li><option value="SFO">San Francisco, California</option></li>
                                <li><option value="SEA">Seattle, Washington</option></li> 
                                <li><option value="IAD">Washington, DC</option></li>
                                <li><option value="BOM">Mumbai, India</option></li>
                                <li><option value="DXB">Dubai, United Arab Emirates</option></li>
                            </ul>
                        </select>
                        <input value="1200" type="number" name="traveler1_max_price" id="traveler1_max_price" class="form-control" placeholder="Traveler #1 Max Budget">
                    </div>
        </div>
                     

        <div class="col-md-4">
                    <div>    
                        <label>Traveler #2 Name, Origin City, and Max Budget</label>
                        <input value="Rosy Sanchez" type="text" name="traveler2_name" id="traveler2_name" class="form-control" placeholder="Traveler #2">
                        <select class="form-control" name="traveler2_origin" id="traveler2_origin" required> 
                            <ul class="dropdown-menu">   
                                <li><option value="">Traveler #2's Departure City:</option></li>    
                                <li><option value="BOS">Boston, Massachusetts</option></li>  
                                <li><option value="ORD">Chicago, Illinois</option></li> 
                                <li><option value="DFW">Dallas, Texas</option></li>  
                                <li><option value="MCO">Orlando, Florida</option></li>  
                                <li><option value="LAX">Los Angeles, California</option></li>     
                                <li><option value="JFK">New York, New York</option></li>   
                                <li><option value="SFO">San Francisco, California</option></li>
                                <li><option value="SEA">Seattle, Washington</option></li> 
                                <li><option value="IAD">Washington, DC</option></li> 
                                <li><option value="BOM">Mumbai, India</option></li>
                                <li><option value="DXB">Dubai, United Arab Emirates</option></li>
                            </ul>
                        </select> 
                        <input value="1500" type="number" name="traveler2_max_price" id="traveler2_max_price" class="form-control" placeholder="Traveler #2 Max Budget">
                    </div>
        </div>
             


        <div class="col-md-8 col-md-offset-2">
            <div>
                <label>Departure Date<input value="2016-01-08" type="date" name="departure_date" id="departure_date" class="form-control" required></label>
                <label>Return Date<input value="2016-01-23" type="date" name="return_date" id="return_date" class="form-control" required></label>
            </div>
        </div>
        
    </div>   <!-- div class="row" CLOSING DIV -->

    <div class="col-md-12">
        <button id="submit_button" name="destination" type="submit" value="DPS" class="btn-xlarge">Zen. Chill. Relax.</button>
    <br>
        <button id="submit_button" name="destination" type="submit" value="HKT" class="btn-xlarge">Fall. In. Love.</button> 
    </div>
    <div class="col-md-12">
        <button id="submit_button" name="destination" type="submit" value="KUL" class="btn-xlarge">Nature. Adventure.</button> 
   <br>
        <button id="submit_button" name="destination" type="submit" value="DXB" class="btn-xlarge">Cosmopolitan. Oasis.</button> 
    </div>
     <div class="col-md-12">
        <button id="submit_button" name="destination" type="submit" value="JFK" class="btn-xlarge">Urban. Playground.</button> 
   <br>
        <button id="submit_button" name="destination" type="submit" value="LAX" class="btn-xlarge">Glamour. Nightlife.</button> 
    </div>
           

        </form>


</div> <!-- div class="container-fluid" CLOSING DIV -->

{% endblock %}
